/* Color Scheme
--------------------------
lightblue: #5491DC
Orange: #F7B64B
Yellowish: #FAFFBD
The purp: #433E9C
BrickRed: #570F12
Red: #F00
Gray: #DDD

----------------------- */

/* Table of contents
--------------------------
main styles
header 
Porperty list
form styles
map 
tabsection
tab
Comps Table
----------------------- */

/* main styles */
body {
	width: 1000px;
	margin: 0 auto;
	font-family: sans-serif;
	border: 1px solid black;
	border-radius: 5px;
}
section {
	float: left;
}
section:nth-of-type(1){
	width: 33%;
}
main {
	padding: 1.4em 1em;
	height: 600px;
}
section:first-child h1 {
	margin: 0;
	padding: 0;
	color: #5491DC;
	font-size: 1em;
	font-weight: bold;
	line-height: 0%;
}
section:first-child input[type=button] {
	margin: 2em 0 0 0;	
	padding: 0;	
	margin-bottom: 1em;
	font-size: .6em;
}
/* header styles */
header {
	margin: 0;
	background: #570F12;
	height: 100px;
	background: -webkit-linear-gradient(left, #570f12, #570f12, #FFF); 
	background: -o-linear-gradient(right, #570f12, #570f12, #FFF); 
	background: -moz-linear-gradient(right, #570f12, #570f12, #FFF); 
	background: linear-gradient(to right, #570f12, #570f12, #FFF); 
}
header h1 {
	margin: 0;
	padding: .8em .3em;
	font-size: 1.5em;
	color: #fff;
}
/* Property list */
#zpl {
	font-family: Arial;
	font-size: .8em;
	position: relative;
	top: 1em;
}
#zpl ul, #zpl li {
	padding: .1em 0 0 0;	
	margin: 0;	
	list-style-type: none;
}
#zpl span {
	color: #5491DC;
}
#zpl span:hover, #zpl span:active {
	cursor: pointer;
	text-decoration: underline;
}
#propList {
	position: relative;
}
#propList p {
	display: inline-block;
	width: 200px;
	font-size: .7em;
	color: red;
	position: absolute;
	top: 5px;
	left: 120px;
}

/* form styles */
fieldset {
	border: 2px solid #F7B64B;
	border-radius: 5px;
}
legend {
	font-size: .8em;
	margin: 0 .2em;
	padding: 0 .6em;
	color: #5491DC;
	font-weight: bold;
}
input {
	margin-bottom: .8em;
}
input[type=submit]{
	color: #5491DC;
	font-weight: bold;
	margin-bottom: 1em;
	font-size: .6em;
}
#addressForm {
	width: 325px;
	color: #5491DC;
	font-weight: bold;
}
#addressForm label:nth-child(2) {
	margin-top: .8em;
}
#addressForm label, #addressForm input {
	display: block;
}
#loanForm label {
	display: inline-block;
	font-size: .9em;	
	text-align: right;
	width: 175px;
	margin: 0 .2em;
}
#loanForm input[type=text] {
	display: inline-block;
	width: 125px;	
	margin: .7em 0;
}
#loanForm input[type=button] {
	margin-left: 180px;
}
#loanForm p {
	display: inline-block;
	width: 200px;
	font-size: .7em;
	color: red;
	position: absolute;
}
#loanForm span {
	width: 100%;
	margin: 2em auto;
	font-size: 2em;
}

/* map */
/*// Be Careful not to mess up the styles of this outside resource */
#map {
	width: 100%;
	height: 100%;
	background: #DDD;
}

/* tabSection Styles */
#tabSection {
	width: 550px;
	height: 550px;
	background: #F7B64B;
	border-radius: 5px;
	position: relative;
	padding: 0;
	margin: 0 0 0 50px;
}

/* Tabs styles */
.tabHide {
	display: none;
}
#tabSection ol {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 10px;
	left: 5px;
}
#tabSection ol li {
	font-size: .8em;
	font-weight: bold;
	color: #5491DC;
	cursor: pointer;
	display: inline-block;
	background: #fff;
	padding: 1em 2em;
	border-radius: 5px 5px 0 0;
}
#tabSection li.currentTab {
	color: #433E9C;
}
#tabSection .tab, #tabSection .tabHide {
	padding: 10px;
	background: #DDD;
	margin: 50px 0 0 0;
	height: 500px;
	border-radius: 0 0 5px 5px;
}

/* Comps Table */
#compsTable {
	border-collapse: collapse;
	width: 100%;
}
#compsTable caption {
	text-align: left;
}
#compsTable thead {
	font-weight: bold;
	background: #5491DC;
	color: white;
}
#compsTable th {
	text-align: center;
	padding: .2em;
}
#compsTable td {
	border: 1px solid #F7B64B;
	padding: .2em;
}






